[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/meow/Desktop/MoonlightCrossing-1.00-pc.zip]
row=1
col=0

[/home/meow/Desktop/CS-400PRO ADJ.desktop]
row=0
col=0

[0ccc0cd1-884f-41eb-9ae6-0f3125596efc]
row=2
col=0

[8EE427A4E4278E11]
row=3
col=0

[18ACE220ACE1F860]
row=4
col=0

[2021-10-17-17-31-08-00]
row=5
col=0

[Rubbish]
row=6
col=0

[/]
row=7
col=0

[/home/meow]
row=8
col=0

